.hero {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.hero-center {
    padding-top: 8rem;
    padding-bottom: 4rem;
}
.hero-center h2 {
    line-height: 1.2;
    color: var(--color-white);
    font-size: clamp(1.5rem, 3.5vw, 4rem);
}
.hero-center p {
    color: var(--color-white);
    line-height: 1.4;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: clamp(0.87rem, 1.5vw, 1rem);
}
