.pages-submenu {
    text-align: center;
    position: fixed;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 10;
    transition: transform 0.5s;
    background-color: var(--bg-secondary);
}
@media screen and (min-width: 567px) {
    .pages-submenu {
        display: none;
    }
}
.pages-submenu.show-pages-submenu {
    transform: translateY(0);
}
.pages-submenu li {
    padding: 0.75rem;
}
.pages-submenu li a {
    color: var(--color-white);
    text-transform: capitalize;
}
