.movie-center .details {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
@media screen and (max-width: 480px) {
    .movie-center .details {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
.movie-center .details li {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.movie-center .details li svg {
    font-size: 1.25rem;
}
