.footer {
    background-color: #030311;
    font-size: clamp(0.87rem, 2.5vw, 1rem);
}
.footer-center {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
@media screen and (max-width: 567px) {
    .footer-center {
        padding-bottom: 8rem;
    }
}
.footer-center section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 567px) {
    .footer-center section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
.footer-center section ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
@media screen and (max-width: 567px) {
    .footer-center section ul {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }
}
.footer-center section ul a {
    color: white;
    text-transform: capitalize;
}
.footer-center svg {
    font-size: 1.5rem;
    color: white;
}
.footer-center div.border {
    margin: 2rem 0;
    width: 100%;
    height: 2px;
    background-color: #121220;
}
.footer-center section p {
    color: white;
}
