.carousel-indicators {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}
.carousel-indicators button {
    font-size: 2.5rem;
}
.carousel-indicators button svg {
    color: var(--color-blue);
}
