.carousel-cell {
    width: 300px;
    text-align: center;
    position: absolute;
    transition: all 0.5s;
}
.carousel-cell img {
    width: 100%;
    height: 375px;
    border-radius: 0.5rem;
}
.carousel-cell h3 {
    margin: 0.75rem 0;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color-black);
}
